html{
    overflow-x: hidden;
    /* so the user can't scroll to the left or right off the page*/
}
/*navbar*/
/*blue nav with white text*/

/*end of navbar*/

/*section 1*/
.sec1-row {
  height: 400px;
}

#sec1-img {
    width: 200;
    max-width: 200;
    height: 55%;
}
/*white*/

/*end of section 1*/

/*section 2*/
.leadership-section{
    background-color: #069;
    color: #ffffff;
}
/*blue*/

/*end of section 2*/


/*section 3*/

.section-3 {
    background-color: #069;
    text-align: center;
    /*font-size: 20px;
    */
}
.section-3-graphic {
    height: 80%;
    width: 80%;
}

/*white*/

/*end of section 3*/

/*section 4*/

/*blue*/
.leadership-section{
    background-color: #069;
    color: #ffffff;
}

.lead{
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    width: 20%;
    height: auto;
}

.lead2{
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    width: 30%;
    height: auto;
}

/*end of section 4*/

/*section 5*/
/*end of section 5*/

/*section 6/footer*/
/*end of section 6/footer*/

/*end of section 4*/

/*section 5*/
.banner{
    display: block;
    margin: 0 auto;
    width: 50%;
    background-color: #069;
}

.critical-tinkers-img{
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 80%;
    background-color: #069;
}

.cooperation-section{
    background-color: #069;
    color: #fff;
}

.section-5-body{
    font-size: 16px;
}
/*end of section 5*/

/*section 6/footer*/
/*end of section 6/footer*/
